.vscode/
__pycache__/
target/
*.zip
.idea/
dask-worker-space/
*.parquet
.ipynb_checkpoints/
*.tar*
config.py
*.hdf5
*.csv
*.whl
.devcontainer
*.tar.gz
dist/
*.o
*.so
wheelhouse/
__version__.py
pydockrmsd.egg-info/
core
dockrmsd.c
DockRMSD
a.out